<nav class="navbar bg-body-color">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../asset/img/logoMobilityblanc.png" alt="Bootstrap" width="30" height="24">
    </a>
  </div>
</nav>