.card-header-ligne1 {
    background-color: yellow;
}

.card-header-ligne2 {
    background-color: red;
}

.btn {
    background-color: #47657C;
    color: white;
}

.card-body{
    background-color: #CDDDE8;
}

