{% extends 'base.html.twig' %}

{% block title %}Mobility
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('./asset/css/accueil.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
	
	<div class="container">


		<div class="card mt-5 text-center">
			<div class="card-header bg-warning">
				<h2>Métro ligne 1</h2>
			</div>

			<div class="card-body">
				<div class="accordion" id="accordionPanelsStayOpenExample">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="false" aria-controls="panelsStayOpen-collapse1">
								<span class="sep-container01  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Quatre Cantons - Stade Pierre-Mauroy</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse1" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false" aria-controls="panelsStayOpen-collapse2">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">scientifique - professeur gabillard</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse2" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapse3">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Triolo</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse3" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Villeneuve-d'Ascq - Hôtel de Ville</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse4" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false" aria-controls="panelsStayOpen-collapse5">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Pont de Bois</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse5" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false" aria-controls="panelsStayOpen-collapse6">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Square Flandres</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse6" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse7" aria-expanded="false" aria-controls="panelsStayOpen-collapse7">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Mairie d'Hellemmes</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse7" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse8" aria-expanded="false" aria-controls="panelsStayOpen-collapse8">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Marbrerie</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse8" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse9" aria-expanded="false" aria-controls="panelsStayOpen-collapse9">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Fives</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse9" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false" aria-controls="panelsStayOpen-collapse10">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Caulier</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse10" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse11" aria-expanded="false" aria-controls="panelsStayOpen-collapse11">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Gare Lille-Flandres</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse11" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse12" aria-expanded="false" aria-controls="panelsStayOpen-collapse12">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Rihour</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse12" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse13" aria-expanded="false" aria-controls="panelsStayOpen-collapse13">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">République - Beaux-Arts</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse13" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse14" aria-expanded="false" aria-controls="panelsStayOpen-collapse14">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Gambetta</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse14" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse15" aria-expanded="false" aria-controls="panelsStayOpen-collapse15">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Wazemmes</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse15" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse16" aria-expanded="false" aria-controls="panelsStayOpen-collapse16">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Porte des Postes</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse16" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse17" aria-expanded="false" aria-controls="panelsStayOpen-collapse17">
								<span class="sep-container  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">CHU - Centre Oscar-Lambret</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse17" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse18" aria-expanded="false" aria-controls="panelsStayOpen-collapse18">
								<span class="sep-container01F  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">CHU - Eurasanté</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse18" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card mt-5 text-center ">
			<div class="card-header bg-danger ">
				<h5>Métro ligne 2</h5>
			</div>
			<div class="card-body">

				<div class="accordion" id="accordionPanelsStayOpenExample">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse19" aria-expanded="false" aria-controls="panelsStayOpen-collapse19">
								<span class="sep-container2D  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Saint-Philibert</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse19" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse20" aria-expanded="false" aria-controls="panelsStayOpen-collapse20">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Bourg</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse20" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse21" aria-expanded="false" aria-controls="panelsStayOpen-collapse21">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Maison des Enfants</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse21" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse22" aria-expanded="false" aria-controls="panelsStayOpen-collapse22">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Mitterie</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse22" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse23" aria-expanded="false" aria-controls="panelsStayOpen-collapse23">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Pont Supérieur</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse23" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse24" aria-expanded="false" aria-controls="panelsStayOpen-collapse24">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Lomme - Lambersart - Arthur - Notebart</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse24" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse25" aria-expanded="false" aria-controls="panelsStayOpen-collapse25">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Canteleu</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse25" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse26" aria-expanded="false" aria-controls="panelsStayOpen-collapse26">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Bois Blanc</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse26" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse27" aria-expanded="false" aria-controls="panelsStayOpen-collapse27">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Port de Lille</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse27" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse28" aria-expanded="false" aria-controls="panelsStayOpen-collapse28">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Cormontaigne</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse28" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse29" aria-expanded="false" aria-controls="panelsStayOpen-collapse29">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Montebello</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse29" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse30" aria-expanded="false" aria-controls="panelsStayOpen-collapse30">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Porte des Postes</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse30" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse31" aria-expanded="false" aria-controls="panelsStayOpen-collapse31">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Porte d'Arras</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse31" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse32" aria-expanded="false" aria-controls="panelsStayOpen-collapse32">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Porte de Douai</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse32" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse33" aria-expanded="false" aria-controls="panelsStayOpen-collapse33">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Porte de Valenciennes</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse33" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse34" aria-expanded="false" aria-controls="panelsStayOpen-collapse34">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Lille Grand Palais</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse34" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse35" aria-expanded="false" aria-controls="panelsStayOpen-collapse35">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Mairie de Lille</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse35" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse36" aria-expanded="false" aria-controls="panelsStayOpen-collapse36">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Gare Lille-Flandres</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse36" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse37" aria-expanded="false" aria-controls="panelsStayOpen-collapse37">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Gare Lille-Europe</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse37" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse38" aria-expanded="false" aria-controls="panelsStayOpen-collapse38">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Saint-Maurice Pellevoisin</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse38" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse39" aria-expanded="false" aria-controls="panelsStayOpen-collapse39">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Mons Sarts</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse39" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse40" aria-expanded="false" aria-controls="panelsStayOpen-collapse40">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Mairie de Mons</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse40" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse41" aria-expanded="false" aria-controls="panelsStayOpen-collapse41">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Fort de Mons</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse41" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse42" aria-expanded="false" aria-controls="panelsStayOpen-collapse42">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Les Prés - Edgard-Pisani</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse42" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse43" aria-expanded="false" aria-controls="panelsStayOpen-collapse43">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Jean-Jaurès</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse43" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse44" aria-expanded="false" aria-controls="panelsStayOpen-collapse44">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Wasquehal - Pavé de Lille</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse44" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse45" aria-expanded="false" aria-controls="panelsStayOpen-collapse45">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Wasquehal - Hôtel de Ville</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse45" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse46" aria-expanded="false" aria-controls="panelsStayOpen-collapse46">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Croix - Centre</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse46" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse47" aria-expanded="false" aria-controls="panelsStayOpen-collapse47">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Mairie de Croix</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse47" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse48" aria-expanded="false" aria-controls="panelsStayOpen-collapse48">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Épeule - Montesquieu</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse48" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse49" aria-expanded="false" aria-controls="panelsStayOpen-collapse49">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Roubaix - Charles-de-Gaulle</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse49" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse50" aria-expanded="false" aria-controls="panelsStayOpen-collapse50">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Eurotéléport</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse50" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse51" aria-expanded="false" aria-controls="panelsStayOpen-collapse51">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Roubaix - Grand-Place</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse51" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse52" aria-expanded="false" aria-controls="panelsStayOpen-collapse52">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Gare Jean-Lebas Roubaix</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse52" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse53" aria-expanded="false" aria-controls="panelsStayOpen-collapse53">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Alsace</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse53" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse54" aria-expanded="false" aria-controls="panelsStayOpen-collapse54">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Mercure</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse54" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse55" aria-expanded="false" aria-controls="panelsStayOpen-collapse55">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Carliers</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse55" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse56" aria-expanded="false" aria-controls="panelsStayOpen-collapse56">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Gare de Tourcoing</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse56" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse57" aria-expanded="false" aria-controls="panelsStayOpen-collapse57">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Tourcoing - Centre</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse57" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse58" aria-expanded="false" aria-controls="panelsStayOpen-collapse58">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Colbert</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse58" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse59" aria-expanded="false" aria-controls="panelsStayOpen-collapse59">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Phalempins</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse59" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse60" aria-expanded="false" aria-controls="panelsStayOpen-collapse60">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Pont de Neuville</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse60" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the second item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse61" aria-expanded="false" aria-controls="panelsStayOpen-collapse61">
								<span class="sep-container2  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">Bourgogne</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse61" class="accordion-collapse collapse">
							<div class="accordion-body">
								<strong>This is the third item's accordion body.</strong>
								It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse62" aria-expanded="false" aria-controls="panelsStayOpen-collapse62">
								<span class="sep-container2F  ">
									<span class="sep"></span>
									<span class="circle">
										<span class="circle-inner"></span>
									</span>
								</span>
								<span class="nom-station">CH Dron</span>
							</button>
						</h2>
						<div id="panelsStayOpen-collapse62" class="accordion-collapse collapse ">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong>
								It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
								<code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
